name: CI - Integration Test

# Define when to run CI
on:
  push:
    branches: [ "stage" ]     # when pushed to stage branch
  pull_request:
    branches: [ "stage" ]     # or whenever pull-request is sent to stage branch

jobs:
  test:
    # IMPORTANT : the test will run on LOCAL-COMPUTER using "runner"
    runs-on: self-hosted

    steps:
      # Fetch codes from github
      - name: Fetch code
        uses: actions/checkout@v3

      # Build image for test docker container
      - name: Build Test Image
        run: docker build -t my-app:test ./app

      # Run test container using other port number(5000 is occupied for deployment)
      # Powershell grammar
      - name: Run Test Container
        run: |
          if (docker ps -a -q -f name=app-test) { docker rm -f app-test }
          docker run -d --name app-test -p 5001:5000 my-app:test

      # wait for server
      - name: Wait for Server
        run: Start-Sleep -Seconds 5

      # run test
      - name: Run Integration Tests
        run: |
          pip install pytest
          pytest -v tests/integration_test.py
          
      - name: Cleanup
        if: always()
        run: docker rm -f app-test
        continue-on-error: true