name: CI - Integration Test (Stage)

on:
  push:
    branches: [ "stage" ]
  pull_request:
    branches: [ "stage" ]

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. 도커 네트워크 생성 (앱과 테스트 컨테이너가 서로 통신하기 위해)
      - name: Create Network
        run: |
          if (-not (docker network ls -q -f name=test-net)) {
              docker network create test-net
            }

      # 2. 테스트용 앱 이미지 빌드
      - name: Build App Image
      # -f app/Dockerfile : 설계도는 app 폴더 안에 있는 걸 쓸 거야
      # 하지만 파일은 이 프로젝트 전체 루트에서 찾을 거야
        run: docker build --target test-image -t my-app:test -f app/Dockerfile .

      # 3. 앱 컨테이너 실행 (test-net 네트워크에 연결!)
      - name: Run App Container
        run: |
          docker rm -f app-test
          # --network test-net: 네트워크 연결
          # --name app-test: 이 이름으로 접속 가능
          docker run -d --name app-test --network test-net -p 5001:5000 my-app:test
        continue-on-error: true

      # 4. 서버 뜰 때까지 대기
      - name: Wait for Server
        run: Start-Sleep -Seconds 5

      # 5. [핵심] 테스트 실행 (도커 안에서 pip 설치하고 실행)
      - name: Build Test Image
        run: |
          docker build --target test-image -t my-app:test -f app/Dockerfile .

      # 2. 테스트 실행 (아주 간단해짐)
      # 이미 테스트 코드와 라이브러리가 이미지 안에 다 들어있음!
      - name: Run Tests
        run: |
          docker run --rm --network test-net `
            -e App_URL="http://app-test:5000" `
            my-app:test

      # 6. 뒷정리
      - name: Cleanup
        if: always()
        run: |
          docker rm -f app-test
          docker network rm test-net
        continue-on-error: true